<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0 g-0">
    <div
      class="col-lg-6 dashboard__left p-0 m-0 d-flex align-items-center justify-content-center"
    >
      <div class="img-box">
        <img src="./../../../assets/admin_eng_dashboard2.png" alt="" />
      </div>
    </div>
    <div
      class="col-lg-6 d-flex flex-column align-items-center dashboard__right"
    >
      <h2><span>Admin</span> Dashboard</h2>
      <div class="customGroup__btns">
        <button class="customBtn" routerLink="users">Users</button>
        <button class="customBtn" routerLink="sellers">Sellers</button>
        <button class="customBtn" routerLink="products">Products</button>
        <button class="customBtn">Analysis</button>
      </div>
    </div>
  </div>
</div>
