<div>


    <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel"
        style='position:"relative"'>
        <div class="carousel-inner vh-100">
            <div class="carousel-item active">
                <img src="https://m.media-amazon.com/images/I/61lEFdeCGCL._SX3000_.jpg" class="d-block w-100"
                    alt="..." />
            </div>
            <div class="carousel-item vh-100">
                <img src="https://m.media-amazon.com/images/I/71TSeZzVAyL._SX3000_.jpg" class="d-block w-100"
                    alt="..." />
            </div>
            <div class="carousel-item vh-100">
                <img src="https://m.media-amazon.com/images/I/61lEFdeCGCL._SX3000_.jpg" class="d-block w-100 "
                    alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev" style='position:"absolute";top:"0px";right:"0px";cursor: "pointer" ;border:"2px solid
            black",width:"100px",height:"300px"'>
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next vh-50" type="button" data-bs-target="#carouselExampleControls"
            style='position:"absolute",top:"0px",right:"0px",cursor: "pointer" ,border:"2px solid
            black",width:"100px",height:"300px"' data-bs-slide="next">
            <span class="carousel-control-next-icon  " style='text:"black"' aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class='row m-0' style='position:"absolute";top:"350px";right:"0px"'>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
        <div class='col-3 m-0'>


            <div class="card m-1 ">
                <div class="">
                    <h4 class="">Get select orders same day with Amazon Prime</h4>
                </div>
                <div class="">
                    <div class="">
                        <img alt=""
                            src="https://images-eu.ssl-images-amazon.com/images/G/42/prime/damisi/prime_eg_launch_/xcm_banners_delivery_desktop_category_card_379x304_758x608_eg-en._SY304_CB622128383_.jpg"
                            class="card-img-top" />
                    </div>
                </div>
                <div class="a-cardui-footer">
                    <p> more</p>
                </div>
            </div>
        </div>
    </div>
</div>