<a routerLink="" class="d-flex align-items-center backBtn">
  <i class="fa-solid fa-backward"></i>
  <p class="p-0 m-0">Back</p>
</a>
<div class="container">
  <h1 class="users__header"><span>Amazon</span> Users</h1>
  <div class="search">
    <input
      type="text"
      class="search__input"
      placeholder="Search by Name , Email or National Id"
      #searchValue
    />
    <button
      class="searchBtn"
      (click)="getUser(searchValue.value); searchValue.value = ''"
    >
      Search
    </button>
  </div>
  <div class="row gx-5 gy-5 my-5 justify-content-sm-start">
    <div
      class="col-md-5 ms-auto d-flex align-items-center justify-content-around customCard"
      *ngFor="let user of users"
    >
      <div class="card__left">
        <div>
          <img src="../../../assets/amazon_mobile.png" alt="" />
        </div>
      </div>
      <div class="card__center">
        <p class="card__name"><span>Name: </span> {{ user.name }}</p>
        <p class="card__email"><span>Email: </span> {{ user.email }}</p>
        <p class="card__password">
          <span>Password: </span> {{ user.password }}
        </p>
        <p class="card_nathId">
          <span>National Id: </span>
          {{ user.national_id }}
        </p>
        <p class="card__status"><span>Status: </span> {{ user.status }}</p>
      </div>
      <div class="card__right align-self-start">
        <div class="delete" (click)="deleteUser(user.id)">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="edit" (click)="editUser(user.id)">
          <i class="fa-solid fa-pen-to-square"></i>
        </div>
      </div>
    </div>
  </div>
</div>
